<div class="jumbotron text-center">
  <h2>Pharmacie de Garde</h2>
  <h2>Bensouda</h2>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      123 Rue Boulboul, Hay Tarik, Fes
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <canvas id="flyer"></canvas>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
